@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
a,
p,
ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #222222;
}

.superinfo-bg {
  background-color: #122ab2;
  color: #fff;
}

.superinfo-bg .superinfo {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo-bg .superinfo p,
.superinfo-bg .superinfo a {
  margin: 0 10px 10px 10px;
}

.superinfo-bg .superinfo a {
  color: #fff;
}

.menu-bg {
  background-color: #2c70ff;
}

.menu-bg .menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-bg .menu a {
  color: #fff;
}

.menu-bg .menu .menu-logo {
  font-size: 2.25em;
  font-weight: 700;
  margin: 0 10px;
}

.menu-bg .menu .menu-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-bg .menu .menu-nav a {
  font-size: 1.25em;
  padding: 10px;
}

.introducao {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

.sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sobre .sobre-info {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 300px;
          flex: 2 1 300px;
  margin: 0 10px;
}

.sobre .sobre-info h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.sobre .sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.sobre .sobre-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 160px;
          flex: 1 1 160px;
  margin: 0 10px;
}

.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.produtos .produtos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.produtos .produtos-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 175px;
          flex: 1 1 175px;
  margin: 10px;
}

.produtos .produtos-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  background-color: #f7f7f7;
  padding: 60px 20px;
}

.produtos .purple {
  border-top: 8px solid #ae81ff;
}

.produtos .pink {
  border-top: 8px solid #f9265e;
}

.produtos .blue {
  border-top: 8px solid #66d9eb;
}

.precos {
  background-color: #f7f7f7;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.precos .preco-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 260px;
          flex: 1 1 260px;
  border: 4px solid #ffffff;
  padding: 20px;
  margin: 10px;
}

.precos .preco-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  text-align: center;
  margin: 20px;
}

.precos .preco-item span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 5px 0;
  border-top: #ffffff;
  border-bottom: 4px solid #ffffff;
}

.precos .preco-item sup {
  font-size: 1.5rem;
}

.precos .preco-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  font-style: italic;
  color: #7c7c7c;
}

.precos .preco-item li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.precos .preco-item li::after {
  content: "";
  display: block;
  widows: 6px;
  height: 6px;
  background-color: #2c70ff;
  border-radius: 50%;
}

.precos .preco-item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25em;
  padding: 15px 0;
  text-align: center;
}

.qualidade {
  max-width: 960px;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.qualidade .qualidade-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  margin: 20px 10px;
}

.qualidade .qualidade-item h2 {
  font-size: 2.25em;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.qualidade .qualidade-item h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}

.qualidade .qualidade-item:nth-of-type(3n + 1) h2::before {
  background-color: #ae81ff;
}

.qualidade .qualidade-item:nth-of-type(3n + 2) h2::before {
  background-color: #f9265e;
}

.qualidade .qualidade-item:nth-of-type(3n + 3) h2::before {
  background-color: #66d9eb;
}

.qualidade .qualidade-item p {
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
}
