$background: #ffffff;

$superTitleBg: #122ab2;
$supertitle-color: #fff;

$navbarBg: #2c70ff;
$navbar-color: #fff;

$grayishBg: #f7f7f7;

$primaryFont: #222222;
$secondaryFont: rgb(164, 164, 164);

$purpleColor: #ae81ff;
$pinkColor: #f9265e;
$blueColor: #66d9eb;

$aboutColor: #7c7c7c;
