body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: $primaryFont;
}

.superinfo-bg {
  background-color: $superTitleBg;
  color: $supertitle-color;

  .superinfo {
    max-width: 960px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-top: 10px;

    p,
    a {
      margin: 0 10px 10px 10px;
    }

    a {
      color: $supertitle-color;
    }
  }
}

.menu-bg {
  background-color: $navbarBg;

  .menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    a {
      color: $navbar-color;
    }

    .menu-logo {
      font-size: 2.25em;
      font-weight: 700;
      margin: 0 10px;
    }

    .menu-nav {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      a {
        font-size: 1.25em;
        padding: 10px;
      }
    }
  }
}

.introducao {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

.sobre {
  display: flex;
  border-top: 2px solid $navbarBg;
  border-bottom: 2px solid $navbarBg;

  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;

  .sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
    h1 {
      font-size: 3em;
      margin-bottom: 0.5em;
    }
    p {
      font-size: 1.25em;
      line-height: 1.4;
      margin-bottom: 1em;
      color: $aboutColor;
    }
  }

  .sobre-img {
    flex: 1 1 160px;
    margin: 0 10px;
  }
}

.produtos {
  max-width: 960px;
  margin: 60px auto;
  h1 {
    font-size: 3em;
    margin: 0 10px 60px 10px;
  }
  .produtos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .produtos-item {
    flex: 1 1 175px;
    margin: 10px;
    h2 {
      font-size: 3em;
      color: $secondaryFont;
      background-color: $grayishBg;
      padding: 60px 20px;
    }
  }
  .purple {
    border-top: 8px solid $purpleColor;
  }
  .pink {
    border-top: 8px solid $pinkColor;
  }
  .blue {
    border-top: 8px solid $blueColor;
  }
}
