body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: $primaryFont;
}

.superinfo-bg {
  background-color: $superTitleBg;
  color: $supertitle-color;

  .superinfo {
    max-width: 960px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-top: 10px;

    p,
    a {
      margin: 0 10px 10px 10px;
    }

    a {
      color: $supertitle-color;
    }
  }
}

.menu-bg {
  background-color: $navbarBg;

  .menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    a {
      color: $navbar-color;
    }

    .menu-logo {
      font-size: 2.25em;
      font-weight: 700;
      margin: 0 10px;
    }

    .menu-nav {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      a {
        font-size: 1.25em;
        padding: 10px;
      }
    }
  }
}

.introducao {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

.sobre {
  display: flex;
  border-top: 2px solid $navbarBg;
  border-bottom: 2px solid $navbarBg;

  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;

  .sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
    h1 {
      font-size: 3em;
      margin-bottom: 0.5em;
    }
    p {
      font-size: 1.25em;
      line-height: 1.4;
      margin-bottom: 1em;
      color: $aboutColor;
    }
  }

  .sobre-img {
    flex: 1 1 160px;
    margin: 0 10px;
  }
}

.produtos {
  max-width: 960px;
  margin: 60px auto;
  h1 {
    font-size: 3em;
    margin: 0 10px 60px 10px;
  }
  .produtos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .produtos-item {
    flex: 1 1 175px;
    margin: 10px;
    h2 {
      font-size: 3em;
      color: $secondaryFont;
      background-color: $grayishBg;
      padding: 60px 20px;
    }
  }
  .purple {
    border-top: 8px solid $purpleColor;
  }
  .pink {
    border-top: 8px solid $pinkColor;
  }
  .blue {
    border-top: 8px solid $blueColor;
  }
}

.precos {
  background-color: $grayishBg;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  .preco-item {
    flex: 1 1 260px;
    border: 4px solid $pricingBorder;
    padding: 20px;
    margin: 10px;
    h2 {
      font-size: 3em;
      color: $secondaryFont;
      text-align: center;
      margin: 20px;
    }
    span {
      max-width: 300px;
      margin: 20px auto;
      display: block;
      font-size: 3em;
      text-align: center;
      font-weight: bold;
      padding: 10px 0 5px 0;
      border-top: $pricingBorder;
      border-bottom: 4px solid $pricingBorder;
    }
    sup {
      font-size: 1.5rem;
    }
    ul {
      max-width: 300px;
      margin: 20px auto;
      font-size: 1.25em;
      font-style: italic;
      color: $aboutColor;
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      &::after {
        content: "";
        display: block;
        widows: 6px;
        height: 6px;
        background-color: $navbarBg;
        border-radius: 50%;
      }
    }

    a {
      max-width: 300px;
      display: block;
      margin: 20px auto;
      border: 4px solid;
      color: $primaryFont;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2.25em;
      padding: 15px 0;
      text-align: center;
    }
  }
}

.qualidade {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  .qualidade-item {
    flex: 1 1 300px;
    margin: 20px 10px;
    h2 {
      font-size: 2.25em;
      color: $secondaryFont;
      margin-bottom: 20px;

      &::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 30px;
        margin-right: 10px;
      }
    }
    &:nth-of-type(3n + 1) h2::before {
      background-color: $purpleColor;
    }
    &:nth-of-type(3n + 2) h2::before {
      background-color: $pinkColor;
    }
    &:nth-of-type(3n + 3) h2::before {
      background-color: $blueColor;
    }

    p {
      font-size: 1.25em;
      line-height: 1.4;
      color: $aboutColor;
    }
  }
}

.newsletter {
  background: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;
  .newsletter-info {
    flex: 1 1 240px;
    margin: 0 10px;
    h1 {
      font-size: 3em;
      color: $secondaryFont;
    }
    p {
      font-size: 1.25em;
      font-style: italic;
      max-width: 230px;
      color: $aboutColor;
    }
  }
  .newsletter-form {
    flex: 2 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    input {
      flex: 3 1 260px;
      font-size: 1.25em;
      color: #7c7c7c;
      font-style: italic;
      font-family: "Nunito", Helvetica, Arial, sans-serif;
      border: 4px solid #2c70ff;
      background: transparent;
      padding: 15px 10px;
      margin: 0;
      border-radius: 0;
    }
    button {
      flex: 1 1 260px;
      font-family: "Nunito", Helvetica, Arial, sans-serif;
      font-size: 2.25em;
      font-weight: bold;
      text-transform: uppercase;
      background: #2c70ff;
      color: white;
      margin: 0;
      cursor: pointer;
      border: 0;
      padding: 15px 10px;
    }
  }
}

footer {
  display: flex;
  background: $navbarBg;
  height: 200px;
  align-items: center;
  p {
    flex: 1;
    text-align: center;
    font-size: 2.25em;
    color: $superTitleBg;
  }
}
